<% flash.each do |message_type, message| %>
		<h4 class="message"><%= message %></h4>
<% end %>

<h1>Books</h1>

<div id="list">
	<table>
		<thead>
			<tr>
				<th class="title">Title</th>
				<th class="body">Body</th>
			</tr>
		</thead>
		<tbody>
			<% @books.each do |book| %>
				<tr>
					<td><%= book.title %></td>
					<td><%= book.body %></td>
					<td class="link"><%= link_to 'Show', book_path(book) %></td>
					<td class="link"><%= link_to 'Edit', edit_book_path(book) %></td>
					<td class="link"><%= link_to 'Delete', book_path(book), method: :delete,
						"data-confirm" => "本当に削除しますか？" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<section class="form">
	<h2>New book</h2>

	<%= form_for(@book) do |f| %>

		<div class="field">
			<p>Title</p>
			<%= f.text_field :title  %>
		</div>

		<div class="field">
			<p>Body</p>
			<%= f.text_area :body  %>
		</div>

		<%= f.submit 'Create Book' %>

	<% end %>
</section>


