<h1>Books</h1>

<div id="list">
	<table>
		<thead>
			<th class="title">Title</th>
			<th class="body">Body</th>
		</thead>
		<tbody>
			<% @books.each do |book| %>
				<th class="title"><%= book.title %></th>
				<th class="body"><%= book.body %></th>
				<th>
					<ul>
						<li><%= link_to 'Show', book_path(book) %></li>
						<li><%= link_to 'Edit', edit_book_path(book) %></li>
						<li>
							<%= link_to 'Delete', book_path(book), method: :delete,
							"data-confirmation" => "本当に削除してもよろしいですか？" %>
						</li>
					</ul>
				</th>
			<% end %>
		</tbody>
	</table>
</div>

<section id="form">
	<h2>New book</h2>

	<%= form_for(@book) do |f| %>

		<div class="field">
			<p>Title</p>
			<%= f.text_field :title  %>
		</div>

		<div class="field">
			<p>Body</p>
			<%= f.text_area :body  %>
		</div>

		<%= f.submit 'Create Book' %>

	<% end %>
</section>


